*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
   
}
.app{
    background-color: rgb(71,50,147);
    
}
html, body{
    /* overflow: hidden; */
}

